[2020-10-05 02:23] takanakahiko opened #3 "[Feature Request] Supports workspaces and var files"
Thank you for creating a great tool.

This tool allows you to specify directories using `dir`,` from_dir`, and `to_dir`.
But that doesn't work if you want to specify a workspace.

For example, this would be the case if you want to `terraform workspace select hogehuga` for each directory.

[code]

It would be nice to have the option to specify `workspace` and` var_file` for each type, but what do y

[2020-10-05 02:40] takanakahiko commented on #3
It's okay for me to create a pull request by me and check it to decide whether or not to adopt a new feature.

[2020-10-05 15:36] minamijoyo commented on #3
@takanakahiko Thank you for the proposal!

Adding workspace and variable file support is ok because they are common use-case for Terraform, but, I don't use them in my work, so I'm not sure what is the best design for refactoring tfstate with the workspace model.

If my understanding is correct, using workspace has a single configuration and multiple states. Workspaces are usually related to envir

[2020-10-06 04:52] takanakahiko commented on #3
@minamijoyo Thank you for your reply!

For example, what I want to do is support for the following use cases:
I want to define ec2, which was managed in different directories called prod and dev, in commonized.
In that case, I thought it was necessary to transfer resources between workspaces.

- `us/` (workspace: us)
  - `ec2.tf`
- `tokyo/` (workspace: tokyo)
  - `ec2.tf`
- `commonized/`
  - `ec2.

[2020-10-07 15:04] minamijoyo commented on #3
@takanakahiko Thank you for sharing your use-case! It looks like merging multiple root modules (directories) into a single root module (directory) with workspaces. I understood in such case it's useful moving a state across workspaces.

When I wrote the above comment, I was looking for the best solution for supporting workspace. However, I read lots of issues around the workspace feature and reach

[2020-10-09 15:27] minamijoyo commented on #3
@takanakahiko I studied how to integrate workspace with tfmigrate and found that there are some limitations we should consider:

- `terraform workspace select` command returns an error if a given workspace doesn't exist.
- When switching backend to local, `terraform init -reconfigure` automatically selects the current workspace, but it returns an error if the workspace doesn't exist in local. Howe

[2020-10-14 07:47] takanakahiko commented on #3
Thank you for your reply!
I'm too busy to take time, so I'll reply if I can afford it. :bow:

[2020-10-21 09:03] minamijoyo opened #4 "Importing some resource types has always changes in plan and cannot be applied"
The current implementation of `tfmigrate apply` command requires that a plan has no changes for safe refactoring. However, importing some resource types has always changes in plan and cannot be applied.

For example, a `force_destroy` attribute in `aws_s3_bucket` is a provider implementation control parameter which cannot be imported from a real resource and will be computed default to `false`. In

[2020-10-29 19:40] entropitor opened #5 "Allow migrations with resources including a space"
It seems tfmigrate splits on a space for a `mv` command and only allows 1 space after `mv `, however, this basically means we cannot write `state mv` commands for resources in a for_each with a key that includes a space

[2020-10-30 00:41] minamijoyo commented on #5
@entropitor Thank you for opening issue!

I didn't know the fact that an address of resource could contain spaces.
To clarify what are you trying, could you provide a sample Terraform configuration and state mv command?

[2020-10-30 08:17] entropitor commented on #4
Maybe one way to help into doing this is add a command e.g. `tfmigrate export-bash` that outputs a bash script that you can run to actually run the migrations you have in your config file.

I'm not sure if this played before, but than the config file also doesn't have to be as close to the terraform commands and can be more like:

[code]

[2020-10-30 08:20] entropitor commented on #5
[code]

Output of `terraform state list`
[code]

Output of `tf state show 'docker_container.nginx["This is an example"]'` (I truncated it a bit to hide some potential sensitive values)
[code]

[2020-10-30 08:47] minamijoyo commented on #5
Wow 😮 it contains space and also double-quote...

The current implementation of parsing action string is here:

https://github.com/minamijoyo/tfmigrate/blob/7b868807be43ccf3505dd0d46ab1071917f25273/tfmigrate/state_action.go#L27
https://github.com/minamijoyo/tfmigrate/blob/7b868807be43ccf3505dd0d46ab1071917f25273/tfmigrate/multi_state_action.go#L26

We probably need to escape special characters. `g

[2020-10-30 13:43] entropitor commented on #5
@minamijoyo Does it actually make sense that you do need to do parsing? I don't know hcl very well but wouldn't it make more sense if the developer already provided the splitted string?

[2020-10-30 14:52] minamijoyo commented on #5
@entropitor Using such a schema-less string for action is intentional by design. It allows us to easily copy terraform state command to action.

Every design choice has pros and cons. I know the strictly typed-schema you mentioned will provide us fine-grained controls. Actually my initial idea was it. However, I wrote some examples of migration file and found that it's very redundant to write migr

[2020-10-30 15:20] minamijoyo commented on #4
Simulating the current implementation in bash is not so easy because tfmigrate uses many temporarily files not to update remote state, and removes them on exit even if error occurs using defer mechanism in Go.

Anyway, I'm not sure why does exporting bash script solve the issue. If it solved the issue, the script would ignore changes in plan. That's not the same behavior in Go implementation. Whet

[2020-10-30 16:20] entropitor commented on #4
The export script could be used to apply the changes. By running the migrations "manually" instead of letting tfmigrate do it. (In case there are actually still changes left, e.g. because of an import or because the refactor has side-effects that we want).

[2020-10-30 16:22] entropitor commented on #5
Okay, then I guess your solution seems like the best way to go forward

[2020-10-31 15:20] minamijoyo commented on #4
If you want to run the script only when a migration has side-effect, I feel it probably have the same issue as `migrate apply -force` which I mentioned the issue description. It's not declarative when the diff should be ignored.

[2020-11-05 13:20] #5 closed

[2020-11-05 13:30] minamijoyo commented on #5
@entropitor Fixed in v0.1.1.

Note that we need to escape double-quote ( `\"` ). It's a HCL limitation.

[code]

[2020-11-07 16:35] entropitor commented on #5
Nice thanks! That's one of the things I tried before so makes sense

[2020-12-08 19:05] syndicut commented on #4
One other use case for this feature will be when refactoring to modules cases come additional resources to be created and it's expected. If you wouldn't mind I can work on a PR adding "force" flag to migration file, like mentioned here:

[2020-12-09 08:14] minamijoyo commented on #4
@syndicut Thanks. A pull request is appreciate.

May I ask how it happens? I'm just curious.

[2020-12-09 09:06] syndicut commented on #4
Suppose we have too almost identical environments (all in separate dirs, ommited for simplicity): https://gist.github.com/syndicut/b26f1bf2d6cb921d3c70b929fc27a852
We want to DRY them and it's ok to also have aws_security_group.baz in environment2
So we move security groups to module and include it:
https://gist.github.com/syndicut/efd1080ec3ea9959e87bdaad1d4284ad
Now we need to migrate states for

[2020-12-09 13:11] syndicut commented on #4
@minamijoyo do you think it should be introduced in a new schema version for history file?

[2020-12-09 13:39] minamijoyo commented on #4
@syndicut Thank you for sharing your use-case.

It's interesting. Ideally we want to be diligent, but it's not always true, sometimes be lazy.
How much we can be lazy, it depends 😉

No.
We don't need to record the fact that a migration applied force or not in history.
It's already defined in the migration file.

[2020-12-17 01:27] minamijoyo commented on #4
Fixed by #10 in v0.2.1. 🚀

It added the `force` option to a migration file. Although, it doesn't include the `ignore_chages` option, but I think the original issue was solved, so I'm going to close this issue. If you want to need the `ignore_changes` option, feel free to open a new issue.

Great thanks to @syndicut  🎉

[2020-12-17 01:27] #4 closed

[2021-01-08 14:51] piizei opened #13 "[Feature Request] Support migrating to modules"
Would be great if you could move resources to modules with tool.
Typically when reorganising the resources terraform needs to destroy and recreate them, which is not nice for databases.

Only difference in the state with resource in module or outside is field 'module' which has the name of the module the resource is in.

[2021-01-08 14:53] piizei commented on #13
Silly me, maybe its already supported by the standard mv like _mv 'packet_device.worker' 'module.app.packet_device.worker'_?

[2021-01-11 10:19] piizei opened #14 "migration crashes with workspace after getting remote state"
I'm trying to create migration for remote state using terraform 0.13.6. Currently the migration crashes. Looks like it does not find the workspace anymore after getting the remote state.

Env: OSX
Dir: .
Terraform is inited with remote state

$terraform workspace show
cf
$ tfmigrate plan migration_1.hcl

2021/01/11 11:03:50 [INFO] [runner] load migration file: migration_1.hcl
2021/01/11 11:03:50 [

[2021-01-12 00:32] minamijoyo commented on #14
Hi @piizei , Thank you for reporting this!
The workspace has not been supported yet. See: https://github.com/minamijoyo/tfmigrate/issues/3

[2021-01-12 00:39] minamijoyo commented on #13
@piizei Yeah, moving a resource into a module has been already supported. You can use `mv old_address module.foo.new_address`

[2021-01-17 22:06] pyranja opened #15 "Handle partial backend config"
Hi! I'm looking for ideas/help in using tfmigrate with partial backend configuration for remote state.

We are storing terraform state in S3 and use a shared backend config file to reduce duplication (specifying bucket name, dynamodb table for locking, role names to assume for access, etc.).

When executing `tfmigrate plan`, the initialization of the workspace for planning fails, as the backend co

[2021-01-18 03:01] minamijoyo commented on #15
Hi @pyranja, Thank you for sharing your use-case. For a workaround, I came up with a dirty hack. 😉

When switching a remote backend to local, the tfmigrate generates an override file named `_tfmigrate_override.tf` under the hood and you can replace the terraform command to a custom wrapper script with `TFMIGRATE_EXEC_PATH` environment variable. This means that there is room for customizing the beh

[2021-01-18 09:13] pyranja commented on #15
@minamijoyo I see, thanks.

So I could check for the presence of the override in a wrapper to decide whether backend config has to be provided or not?
I'll see if I can make that work.

What is your general feeling about accepting pass-through `backend-config` for the remote init?
If it's ok for you I'd try my luck on a PR some time later.

[2021-01-19 09:14] minamijoyo commented on #15
It's ok to add support for the partial backend config. I think it should be a new migration block attribute rather than a new CLI flag, because a backend config is related to a working directory. It will cause the following problems if it's a CLI flag:

(1) The `multi_state` migration type uses two working directories, which have potentially different backend configs.
(2) With the migration histor

[2021-01-19 21:38] pyranja commented on #15
Update: The workaround with a terraform wrapper worked very well, thanks for the suggestion.

For our use case adding the backend config to the migration block would not work as is:
* we deploy the same terraform code to different environments (staging and production)
* the repo consists of many working directories, where each one defines some part of the infrastructure (e.g. a service)
* the work

[2021-01-21 01:09] minamijoyo commented on #15
I understood the cli flag would be useful your use-case. Not all requirements must be met at the same time. In your case the multi_state migration doesn't make sense across environments. If you apply migrations per environment, you can assume all pending migrations have the same backend config override.

There is no single solution for meeting all use-cases. It's ok to add it as the cli flag. If s

[2021-02-26 11:55] efernandes-dev-ops opened #16 "Unable to create cloudformation stack in sandbox environment"
When testing in sandbox environment, I get an error when running `terraform apply -auto-approve`

[code]

I added a mock endpoint in the config file for the aws provider for cloudformation.

Am i missing something?

[2021-02-26 13:21] efernandes-dev-ops commented on #16
Found my error, needed to update the docker compose file to include cloudformation service. Managed to get it to run

[2021-02-26 13:21] #16 closed

[2021-03-01 22:10] Gowiem commented on #3
Hey @minamijoyo, any plan to support workspaces in the foreseeable future? I see that as being the missing piece to this otherwise awesome tool.

[2021-03-11 01:16] minamijoyo commented on #3
Hi, @Gowiem. Thank you for your feedback!

I understand the workspace feature should be supported, but honestly it's not high-priority for me. I'm working on multiple projects in my spare time and other things for now. So I cannot say any ETA, sorry 🙏

For anyone who want it,
please upvote 👍 this feature request to prioritize or send a pull request by yourself, which is always appreciate ❤️

Note:

[2021-03-11 14:41] minamijoyo commented on #13
I'll close this because it has been already supported. If you still have problems, feel free to reopen. Thanks!

[2021-03-11 14:41] #13 closed

[2021-03-11 14:44] minamijoyo commented on #14
I'll close this as duplicated #3.

[2021-03-11 14:44] #14 closed

[2021-03-13 20:51] Gowiem commented on #3
@minamijoyo appreciate getting back and totally get other projects taking over. Hopefully someone will pick this up one day!

[2021-03-16 18:40] whiskeysierra commented on #3
I'm only interested in support for var-file. Is there a way to pass env vars to terraform right now? I tried setting `TF_CLI_ARGS_import` as well as `TF_CLI_ARGS`, but none of them is being picked up.

I haven't tried it yet, but maybe `TFMIGRATE_EXEC_PATH` would work? Alternatively, I could probably just pass my variables via `*.auto.tfvars.json` (see https://www.terraform.io/docs/language/values

[2021-03-17 14:31] minamijoyo commented on #3
@whiskeysierra Yes, you can pass Terraform variables to terraform CLI with auto tfvar files you mentioned.

Or, to pass environment variables (e.g. `TF_CLI_ARGS_import` ) to terraform CLI, just exporting them probably works. If you want to customize them per directory, use `direnv` and set `TFMIGRATE_EXEC_PATH` to `direnv exec . terraform`.

If you still have trouble, could you open a new issue wi

[2021-03-17 14:35] whiskeysierra commented on #3
I tried that, but it didn't seem to work.

[2021-03-18 11:52] whiskeysierra commented on #3
Correction, it does work.

[2021-04-01 15:23] nitrocode opened #19 "Support automatic migration depending on module ref vs module state ref"
Great tool by the way.

Please let me know if this is feasible.

## Context

Previously applied module code which creates `module.s3.aws_s3_bucket.that` resource.

[code]

Now the source has been bumped to `0.2.0` which changes the name `that` to `this`

The new version contains a directory `migrate/0.1.0_to_0.2.0.hcl` file which can be downloaded and run via `tfmigrate`

## Proposal

User updates

[2021-04-03 16:15] ITJamie opened #20 "Feature request pre-plan / pre-apply - run command"
I would love a feature flag / config feature to run a command in affected dir's before plans / migrations
Why: For folks who leverage terragrunt or other terraform wrappers not all required files may exist in the folder. eg autogenerated aws providers etc.
So for us being able to run `terragrunt init` in the affected dir's would be a big plus.
In a git ops pipeline there may be other uses like for

[2021-04-07 05:06] minamijoyo commented on #19
Interesting. It's a good idea that a module author provides how to migrate an old state.

I think there are some problems:

- The module author doesn't know actual resource address and can provide only a migration template file which cannot directly be applied by the module user.
- The tfmigrate was designed to be suitable for GitOps, so fully automatic will be unclear what happens and cannot conf

[2021-04-07 05:32] minamijoyo commented on #20
Hi, thank you for opening this!
Because I'm not terragrunt user, so I'm not sure why is it not enough to run the custom command before the tfmigrate command?

[2021-04-13 12:46] elliotpryde opened #21 "[Feature Request] Azure history storage"
AWS is the primary cloud provider for a lot of Terraform users, but for many others it's Azure. It would be a lot easier for those people to start using this tool if we were able to use an Azure blob to store history, similar to the Terraform [azurerm backend](https://www.terraform.io/docs/language/settings/backends/azurerm.html).

If we don't want to set up an AWS account and include more credent

[2021-04-19 09:00] minamijoyo commented on #21
Sounds good. :smile: The history storage interface is designed to be easily extensible if you are familiar with cloud provider APIs. For example, the S3Storage implementation is as follows:
https://github.com/minamijoyo/tfmigrate/blob/v0.2.3/history/storage_s3.go

I would be happy to review it if anyone implements it.

[2021-04-19 20:05] elliotpryde opened #22 "[Question] Don't apply state migrations to fresh workspaces in history mode"
After going through the readme, it's unclear if this tool is designed to handle newly provisioned instances of a configuration (such as a new workspace).

For the sake of simplicity, I'll just call each of these provisioned instances workspaces, although there are other ways to do this without using workspaces.

It's great that this gives us the ability to migrate the state of multiple workspaces

[2021-04-20 06:02] minamijoyo commented on #22
The history can be shared with all branches and your colleagues via a non-local history storage. Depends on your use-case, you can also have multiple histories with different configuration files. Separate your history and configuration file as you like. See: https://github.com/minamijoyo/tfmigrate/tree/v0.2.3#configuration-file

[2021-05-07 18:59] sidewinder12s opened #24 "Bump AWS SDK version to support AWS SSO"
SSO credential support in the go SDK landed in 1.37

https://github.com/aws/aws-sdk-go/releases/tag/v1.37.0

[2021-05-07 22:58] sidewinder12s opened #25 "Migrating resources from 1 state to another."
I've got a few resources and modules I am trying to move from a monolithic state into smaller broken up states.

New state is entirely new, has just the resources and modules I want to move from the old state. I am using this tfmigrate config to test:

[code]

When I test planned this, it always showed the new_state state had unexpected diffs, with it creating all the resources new and which faile

[2021-05-08 13:43] #24 closed

[2021-05-08 13:57] minamijoyo commented on #24
@sidewinder12s Fixed in tfmigrate v0.2.4.
I've just updated the AWS SDK, but not tested it because I don't have a handy SSO setup for testing. Could you test AWS SSO?

[2021-05-08 14:02] minamijoyo commented on #25
@sidewinder12s It's not intentional. The force flag should not be required.
I'm not sure why the diff detected without your Terraform configurations. Could you provide the minimum example so that we can easily reproduce and debug the issue?

[2021-05-08 17:17] sidewinder12s commented on #25
I first applied Old state, then no diff.

New state was entirely new, so tfmigrate was the first thing to initialize the new state locally and remotely.

My actual goal outside of this test case is to move a few modules out of a large monolithic state into a dedicated, new, empty state.

Old State:

[code]

New State:

[code]

Actual output:

[code]

[2021-05-10 00:59] minamijoyo commented on #25
@sidewinder12s Looking at the log, the diff detected in the from_dir( `.` ). The plan will create moved resources in the from_dir. This means that the states will be moved, but the resources still have been defined in the configurations and will be created again in the from_dir. Could you confirm that  you removed the Terraform configurations of moved resources in the from_dir?

[2021-05-10 18:47] sidewinder12s commented on #25
Ah that is it. Was not clear I needed to do that. Commented out the old state and it planned successfully.

[code]

Thank you for the help!

[2021-05-10 18:50] #25 closed

[2021-05-31 22:18] barryib commented on #19
I think it'll be better to let module developers to generate migration file from template. That was my first thought for [terraform-aws-eks](https://github.com/terraform-aws-modules/terraform-aws-eks/issues/1101). But after I started, I noticed that I had a lot of code duplication.

From that, I was wondering if we can add annotation like in ORM Schema Migration directly in code. Something like th

[2021-06-02 00:43] minamijoyo commented on #19
@barryib Thank you for your idea!

Aside from the difficulty of implementing parsing comments, I think it would probably work for a simple case, but if a resource in a parent module will be moved into a submodule and a root module has two instances of the parent module, how can we know their old address to generate a migration file? The tfmigrate doesn't have a context how to map two old addresses

[2021-06-08 11:59] kertzi opened #27 "[Feature request] extra args injection to terraform command"
Hello,
Your tool looks promising but to make it even more flexible I would like to suggest following new feature:

Is it possible to add configuration which allows flags to be passed to terraform plan/apply command.

Use case:
We use `.tfvars` files which holds values for each environment so when `terraform plan` or `terraform apply`
is executed it will need -var-file parameter which have environm

[2021-06-10 01:30] minamijoyo commented on #27
@kertzi Thank you for sharing your use-case!

I think it's better to add a new attribute in a migration file rather than tfmigrate's configuration file because a var file is typically related to its workspace.

For a workaround, you can pass any CLI flags to the terraform command via environment variables named `TF_CLI_ARGS_<name>`. For example `TF_CLI_ARGS_plan="-var-file=somevars.tfvars"`
https:

[2021-06-10 12:21] kertzi opened #29 "Running migration from other than default workspace doesn't work"
Today I noticed that when using workspaces migration doesn't work if other than default workspace is selected:

Some command log:
`terraform workspace select eu-central-1`
`tfmigrate plan --config  ./tfmigrate_eu-central-1.hcl`

Will give error:
[code]

Some background about my config:
- State is stored to s3
- State it splitted so that each region has its own state in same s3 bucket
- Workspaces

[2021-06-10 12:23] kertzi commented on #27
Thanks for reply, I will check that!

[2021-06-10 12:32] kertzi commented on #3
I have exactly this use case and I think this is how many of users use them. Of course there might be other cases when temporary workspace is created for testing stuff but I think then there is no need for run migrations.

We use same configuration for multiple states.
Example:
production/
- eu-central-1 have own state file in s3
- eu-north-1 have own state file in s3
staging/
- eu-central-1 have

[2021-06-10 12:35] kertzi commented on #29
I noticed there is already issue open for support workspaces. Closing this.

[2021-06-10 12:35] #29 closed

[2021-06-22 14:53] nitrocode opened #30 "Generate tfmigrate scripts between module versions"
Would it be possible to generate tfmigrate scripts between module versions provided that the resource inputs did not change but only the address of the resource changed ?

[2021-06-22 15:10] nitrocode commented on #30
Doh, I forgot I opened this issue https://github.com/minamijoyo/tfmigrate/issues/19 which talks about this ...

[2021-06-22 15:10] #30 closed

[2021-06-22 15:18] nitrocode commented on #19
Perhaps the `tfmigrate generate` can be semiautomated

[code]

[2021-06-30 07:09] kertzi commented on #3
I'm totally new to Go but I investigated this a bit.
One way to solve workspace problem is to use `-migrate-state` flag in init commands. It should migrate selected workspace to local and vice versa.
Only problem is that terraform will ask confirmation and -input=false doesn't work correctly.
So command must be prefixed like: `echo "yes" | terraform ..`  when terraform will get input it needs.

So

[2021-07-15 19:34] RichiCoder1 opened #32 "Add support for `role_arn` in S3 Storage"
We use role assumption to allow our pipelines and devs to access S3 Terraform state, and as part of that we use `role_arn` in S3. Would be great to support this.

[2021-07-21 00:18] BeomSeo opened #34 "[Feature Request] Besides Terraform, I would like to migrate state by using Terragrunt."
sorry about bad english.

The terragrunt divides into several modules and dry the code when running plan and apply.
But I found out that it is not compatible with tfmigrate.

When managing terraforms in multiple modules, the remote state declaration can be redundant and duplication.
Instead of declaring this setting, terragrunt helps you use it simply.
[code]

However, if I just try to run it on t

[2021-07-21 07:59] minamijoyo commented on #19
FYI: I noticed that the Terraform core team seems to be working on a native support for "moved" block. Looks promising.
https://github.com/hashicorp/terraform/pull/29126

[2021-07-21 09:20] minamijoyo commented on #34
@BeomSeo Thank you for your proposal.

I'm not sure how to implement it because I'm not terragrunt user.
Does the terragrunt generate backend configurations and variable files dynamically? If so, I guess it's hard to handle them by the tfmigrate. Do you know that how does the terragrunt pass them to the terraform CLI under the hood?

[2021-07-21 17:05] BeomSeo opened #35 "tfmirate says state file not found when running in github action."
[code]

Both the default tmp dir and github runner tmp dir drop this error.

[2021-07-21 17:10] BeomSeo commented on #34
yes.
Here are the links and explanations.

https://terragrunt.gruntwork.io/docs/features/inputs/

[code]

Whenever you run a Terragrunt command, Terragrunt will set any inputs you pass in as environment variables. For example, with the terragrunt.hcl file above, running terragrunt apply is roughly equivalent to:

$ terragrunt apply

### Roughly equivalent to:
[code]
terraform apply
Note that Terra

[2021-07-22 21:06] apparentlymart commented on #19
Hello! Thanks for linking over to that docs PR I was working on, because I hadn't previously noticed this discussion over here!

From what I understood of the discussion above it does seem like we're aiming at a similar set of use-cases as what this issue is discussing. Our development work on this is still pretty early and we don't have a functioning implementation in the main branch yet, but if

[2021-07-23 11:04] victorgetz opened #36 "Feature Request keeping temp plan output"
Hi,

it would be awesome if we could have the option to keep the temp plan output file from /tmp/....
We would like to use it as a input for our Terraform plan stage.

[2021-07-24 12:38] minamijoyo commented on #36
I'm a bit confused because the issue title is about a temp state file, on the other hand the description is about a temp plan file. Which one is correct?

[2021-07-24 12:44] minamijoyo commented on #35
@BeomSeo Thank you for reporting this. Could you provide how to reproduce the error to help debug? Because at least all existing unit tests are actually running on GitHub Actions and passing.

[2021-07-24 13:03] minamijoyo commented on #34
Thank you for the link. According the doc Terragrunt behaves as if a wrapper for Terraform CLI. I think setting an environment variable `TFMIGRATE_EXEC_PATH` to `terragrunt` may be a good start point. It allows you to customize a path to terraform CLI binary and inject a wrapper script. Have you tried it already?

[2021-07-26 06:56] victorgetz commented on #36
Sorry if you are in a meeting and making feature request at the same time then this bullshit comes out.

Often in real big projects you need to migrate states and create new resources. For Example you are switching your terraform modules to a central registry.

I like the idea of your tool, but in my opinion it lacks two features if you want to use it with CI/CD.

I want to reconstruct our pipelin

[2021-07-27 04:58] minamijoyo commented on #36
OK, you intended a temp plan file.

For 1, the `force` parameter has already implemented as a `migration` block attribute.
For 2, it's ok to add a new flag `tfmigrate plan -out=foo.tfplan` to store a temp plan file as a given path, which can be passed to `terraform apply foo.tfplan`.

[2021-07-28 14:28] minamijoyo commented on #36
For 1, I misunderstood your request, but I feel it's out of scope for tfmigrate.
For 2, I started writing a naive implementation in #37. It's still WIP yet. Stay tuned.

[2021-07-29 03:57] BeomSeo commented on #35
I understand what happened.
It happened because the project could not find the existing state because backend.tf settings were automatically created while using terragrunt in the project and tfmigrate did not run terragrunt.

[2021-07-29 03:58] #35 closed

[2021-07-29 04:02] BeomSeo commented on #34
I set up TFMIGRATE_EXEC_PATH=terragrant.
Nothing is happening.
tfmigrate cli continues to track only terraform binaries.

[2021-07-29 06:54] minamijoyo commented on #34
With `TFMIGRATE_LOG=DEBUG`, you can check to see if `TFMIGRATE_EXEC_PATH=terragrunt` was actually passed to the `MigratorOption` or not.

[code]

[2021-07-29 08:38] BeomSeo commented on #34
oh thank you... solve problem
I didn't know I had to set it to one command.
I thought it should work if it's in the default environment variable setting......

and the following errors may appear to users who use tgenv and terragrunt together
[code]

But this is not a tfmigrate or teragrunt problem.

the tgenv has a problem exporting info logs at will.

I changed it to tgswitch and set terragrunt

[2021-07-29 08:39] #34 closed

[2021-07-30 13:26] amirtal-cp commented on #34
tried using same options to run migration, and got an error (logs below).
since terragrunt is expecting backend "s3".

(also tried using https://github.com/aleksanderaleksic/tgmigrate but this had other issues..)

[code]

[2021-08-08 15:57] minamijoyo commented on #36
While implementing this feature in #37, it turned out that it's not so simple problem as I thought.

A saved plan file internally contains terraform configurations which used by plan. The tfmigrate uses a temporary local backend configuration not to change a remote state in plan phase. This means that applying the saved plan also uses the local backend and it doesn't save the state to the remote b

[2021-08-12 00:35] #36 closed

[2021-08-12 00:54] minamijoyo commented on #36
@victorgetz Added it in v0.2.7. There are some precautions for use. Please read #37.

[2021-08-20 18:48] aivong2 opened #38 "Error when migration script contains state manipulations for list items"
Hi,

For a state manipulation containing brackets (i.e. when moving list items), I saw the following error:
`Index brackets must contain either a literal number or a literal string`

Example migration script:
[code]

I was upgrading terraform versions and one of my changes was updating a block using count to use for_each. I think a list had become a set. I noticed the underlying command tfmigrate

[2021-08-21 02:06] minamijoyo commented on #38
Have you tried `\'` or `\"` ?

[2021-08-22 21:56] ITJamie commented on #20
Terragrunt generates files that may not exist in the folder. Having the ability to make tfmigrate run an alternate re-init command is important for users of terragrunt. Literally just running `terragrunt init` instead of terraform init.

This can be down to the fact that things like remote state config commands are just not in standard tf files in a lot of terragrunt based configs

[2021-08-23 13:15] minamijoyo commented on #20
You can replace `terraform` command to `terragrunt` with exporting an environment variable `TFMIGRATE_EXEC_PATH=terragrunt`. I guess it's what you request.

[2021-08-23 13:38] ITJamie commented on #20
Sadly not. Ive tried that but it causes issues at the first pass when
tfmigrate trys move to local state as it conflicts with terragrunts config
where it wants to force remote state

On Mon 23 Aug 2021 at 14:15, Masayuki Morita ***@***.***>
wrote:

[2021-08-23 14:21] minamijoyo commented on #20
Again  I'm not terragrunt user, at least please provide executable examples to help us understand what you are trying. There are some issues claimed that the tfmigrate doesn't work with terragrunt, but no one provide executable examples to me.

In addition, if you have any idea to resolve the conflict by adding new `pre-plan / pre-apply` hooks, could you clarify how to use and how it works. The wo

[2021-08-23 15:56] aivong2 commented on #38
Hi,

Yes I had tried escaping with single and doublequotes but the result was the same error.

[2021-08-24 09:12] minamijoyo commented on #38
@aivong2  Ahh, I remembered #5. Using `for_each` was a bit tricky. Have it a try:

[code]

[2021-08-24 18:38] aivong2 commented on #38
@minamijoyo thanks for following up! I have tried that combination as well :( I think one of the issues was the brackets requiring double quotes for the integer index but 'module.peering.aws_route.routes[\"0\"]' also did not work for me. The escaped quotes were trimmed off from my testing. I got around my issue by actually simulating on a basic level what I thought the tfmigrate tool would do. I m

[2021-08-25 02:40] minamijoyo commented on #38
I tested the minimum reproduction case with the current latest tfmigrarte v0.2.7 + terraform v1.0.5 and confirmed that it worked.

before

[code]

after

[code]

migration

[code]

[code]

[2021-08-25 02:43] minamijoyo commented on #38
@aivong2 I'm going to close this, but feel free to reopen if you can reproduce the error.

[2021-08-25 02:43] #38 closed

[2021-08-25 02:51] minamijoyo commented on #22
I'm going to close this because no reply, but feel free reopen if you have any questions.

[2021-08-25 02:51] #22 closed

[2021-09-03 02:50] jeffgran opened #39 "[Feature Request] Show plan output even when force=true"
Maybe this should be an optional flag, if some prefer it the way it is now.

But as I have been using `tfmigrate`, I often expect a few specific diffs to be in the final plan, but I still want to verify that they look correct, even when I use `force = true` to apply them anyway.

Currently, my workflow is to comment out the `force = true` line, run the `plan`, verify it, then turn uncomment the li

[2021-09-03 07:30] minamijoyo commented on #39
I think the feature was implemented in v0.2.2 via https://github.com/minamijoyo/tfmigrate/pull/11.
I cannot reproduce it with the latest (v0.2.7). Which version are you using?

[code]

---
P.S. Thank for your offering, but I'm currently not accepting any money for my OSS projects. Thanks!

[2021-09-03 13:41] #32 closed

[2021-09-03 14:27] jeffgran commented on #39
Hi, thank you for your reply! I am on the latest version:

[code]

I think maybe this only happens when it's a `multi_state` migration. I should have mentioned that in the original post, sorry.

[2021-09-04 02:22] #39 closed

[2021-09-04 02:57] minamijoyo commented on #39
@jeffgran I confirmed and fixed it in v0.2.9 via #40. Thank you for reporting!

[2021-10-08 15:59] antigenius0910 opened #43 ""multi_state" failed question"
Hi thanks for this awesome project! I have a quick question here.

I would like to use the "multi_state" feature but don't know if I config it correctly. this is my tfmigrate_mv_dir1_dir2.hcl file in sandbox env

[code]

and this is the current state list
[code]

/work/tmp/dir2 is a empty directory
[code]

What I think multi_state will do for me is
1. rename the resource
2. cut from the current tf

[2021-10-09 02:08] antigenius0910 commented on #43
Thanks @minamijoyo for the prompt response. sorry I didn't see your response earlier therefore I edit my question with README format and redo it once again. Let me go through your suggest and see if I can figure it out now.

[2021-10-09 02:35] antigenius0910 commented on #43
ok @minamijoyo,

I recreate the POC once again and please let me know if I done correctly this time.

this is what I have in dir1
[code]

this is what I have in dir2
[code]

here is state list
[code]

here is multi-state running results
[code]

Am I doing this correctly this time? or should I have main.tf in both dir1 and dir2?

[2021-10-09 03:25] antigenius0910 commented on #43
remove whole repo and re-clone from start, would you mind take a look for me once again when you have a chance? thanks! @minamijoyo

[code]

[code]

[code]

[code]

[2021-10-09 03:56] minamijoyo commented on #43
Looks a strange result. The plan will destroy aws_security_group.foo and aws_security_group.bar. It means dir2 has state of foo and bar before migration. I guess the dir2 has a garbage state or dir2 store the remote state to the same location of dir1.

[2021-10-09 04:22] antigenius0910 commented on #43
yeah that is what I think therefore I raise this issue.

for assumption 1:
[code]

[code]

For assumption 2: (how can I confirm the state are not in the same location? the terraform.tfstate file looks strange to me I though they should have 2 entries)
[code]

and
[code]

[2021-10-09 11:10] antigenius0910 commented on #43
happy weekend!

[2021-10-11 04:19] #43 closed, assigned to nobody

[2021-10-12 21:50] antigenius0910 opened #45 "Error asking for state migration action: input is disabled"
Hi thanks last time testing with me on the sandbox! it was great!

I am moving it to my codebase now but I hit another bug, can you take a look for me when you have time? thank you!

[code]

[code]

but "terraform init -input=false -no-color -reconfigure" run seems fine by itself

[code]

checking file context
[code]

[code]

[2021-10-14 16:20] LiuVII opened #46 "Bypass "workspace select" if the workspace state is already the desired one"
Hey!

In our organization, we're using Scalr https://docs.scalr.com/en/latest/ to perform terraform CI/CD actions.

One of the limitations we're facing to adopt `tfmigrate` is that we can't use `terraform workspace select` command because remote workspaces are configured as

[code]

But still `terraform workspace show` is available and all other commands that are not related to workspace operation

[2021-10-15 08:41] minamijoyo commented on #46
Hi, @LiuVII. Thank you for opening the issue. It sounds reasonable for me.

[2021-10-15 11:25] LiuVII commented on #46
Awesome! So swift as well!
@minamijoyo lmk if I can assist in any way to get this merged and released 🙂

[2021-10-15 13:39] #46 closed, assigned to nobody

[2021-10-15 14:01] minamijoyo commented on #46
@LiuVII Fixed in v0.2.10 🚀

[2021-11-10 17:23] spilliams opened #51 "Doesn't seem to work with indexed resources"
Hello! I'm super excited about this tool, but I haven't been able to find a way for it to work with indexed resources (e.g. `aws_security_group.many["foo"]`). The error message I get when I try to migrate one of these is
[code]

Full replication follows your example in the readme:

[code]

In the sandbox environment, set up the initial statefile:

[code]

A `terraform state list` will show two res

[2021-11-10 17:33] spilliams commented on #51
I have also attempted the following migration files, all with the same error message as above:

[code]

[code]

[code]

[2021-11-10 17:45] spilliams commented on #51
If I were writing the state move command manually, I'd have to put

[code]

In a little while I'll try digging in to the source and see if I can open a PR for this fix.

[2021-11-11 00:25] spilliams commented on #51
After more debugging than I care to admit, I got a migration file that does what I want it to do:

[code]

[2021-11-11 00:25] #51 closed

[2021-11-11 02:05] minamijoyo commented on #51
@spilliams Thank you for reporting the issue.
It looks a frequently asked question, so I added to a tip to README in #52. Thanks!

[2021-11-18 01:54] dominics opened #53 "Feature request: ability to skip plan on (e.g. force) migrations"
Thanks for the very useful tool.

### Background

I'm using the `force` option in most of my migrations, because while I appreciate the safety of planning and looking for no changes, I find I often want to break up my migration files, and end up applying more than one for the same TF code change (i.e. the TF code has changes A, B, C, and there are three migration files that correspond; if tfmigrat

[2021-11-19 05:20] minamijoyo commented on #53
@dominics Thank you for your proposal!

For 2, I feel skipping a plan phase is unsafe. If you don't need a plan, why don't you use just `terraform state` commands directly? I'd like to discuss why the plan is useless in your case. If we had a feature for applying multiple migrations in a single transaction, we could validate the plan once at the end. Does it make sense for you?

For 1, asynchronou

[2021-11-22 02:43] dominics commented on #53
We still get a lot of mileage out of:
 - having the migration commands specified in a nice format that's right there beside the TF code being affected (as opposed to e.g. `terraform state` commands in bash I guess? We weren't really doing tf gitops for state migrations before adopting tfmigrate - just comments in PRs about what commands were necessary - so we find it useful _just_ for that, even b

[2021-11-24 14:17] minamijoyo commented on #53
It sounds a reasonable improvement. I've fixed it in #55.

OK. Although I can't start working on this feature right away, I'll plan to extend internal architecture so that multiple migrations can be applied in a single transaction.

[2021-11-25 01:31] minamijoyo commented on #53
@dominics I've cut a new release v0.2.12, which includes #55.

[2021-11-29 22:37] teriu opened #58 "Build for Apple Silicon Macs (arm64)"
I've opened a PR that should add a supported build for ARM 64 Mac/Linux versions: #57

[2021-11-30 02:57] minamijoyo commented on #58
The arm64 builds for mac and linux are now available in v0.2.13 via #57. Thanks!

[2021-11-30 02:57] #58 closed

[2021-12-10 04:51] minamijoyo opened #62 "Failed to terraform apply with tfplan generated by tfmigrate plan --out=tfplan in Terraform 1.1"
[code]

[2021-12-10 06:57] minamijoyo commented on #62
After debugging, I found that the `tfmigrate plan --out=tfplan` option was based on a bug prior to Terraform 1.1.

Since terraform state push increments the serial of tfstate, a saved plan file in tfmigrate plan phase should not be able to terraform apply. However, prior to Terraform 1.1, there was no proper validation and terraform apply allows a such case incorrectly. Starting from Terraform 1.1

[2021-12-10 07:41] #62 closed

[2021-12-10 08:41] minamijoyo commented on #3
Hi, all. The tfmigrate v0.3.0 now supports workspace for single `state` block (#61). Thanks to @bhavanki.

[2021-12-10 12:17] smitthakkar96 commented on #20
Hey I think I can provide more context here. Terragrunt has a feature to auto generate `remote_state` config using a block like below. Before any terragrunt command runs backend.tf is auto-generated. This means you there is no effect when you run `terragrunt plan --state=/tmp/hello.plan` it will still look for the state file mentioned in the `backend.tf` which is auto generated.

[code]

Unfortuna

[2021-12-10 12:19] smitthakkar96 commented on #20
It would be less complicated if temporarily you update the remote state when running plan and rollback.

[2021-12-10 12:28] smitthakkar96 commented on #20
Maybe instead of using `-statefile=` use https://www.terraform.io/docs/language/files/override.html

[2021-12-14 16:30] WVan opened #64 "Integration in CI/CD pipeline when there are also non-migration changes"
Hi, this looks like the tool I need, but I'm having some trouble integrating it into our CI/CD pipeline, perhaps you can help.

### Current situation
Currently we have to do our migrations (state mv, import etc) manually, outside of the CI/CD pipeline. But aside from the migrations it works like this:
- Changes in terraform code are made on a separate branch.
- A merge/pull request is created for

[2021-12-15 09:42] minamijoyo commented on #64
Hi @WVan, Thank you for sharing your use-case!

It looks like a problem similar to #36. It had been implemented in #37, but it was recently deprecated in #63 due to a change in Terraform 1.1. At time of this writing with the latest tfmigrate v0.3.0 + Terraform v1.1.0, there is no perfect single solution due to some technical constraints.

Knowing that not all use cases can be covered, but the foll

[2021-12-15 12:13] minamijoyo commented on #64
After thinking about how to implement a pipeline, you may simplify them into the 3rd case because your pipeline already has a step for an approval before terraform apply, which allows you to review changes ignored by tfmigrate apply with the force attribute.

[2021-12-16 03:04] minamijoyo commented on #19
@nitrocode Can we close this issue by a new `moved` block introduced in Terraform v1.1?
https://www.hashicorp.com/blog/terraform-1-1-improves-refactoring-and-the-cloud-cli-experience

[2021-12-17 06:57] #19 closed

[2022-01-24 13:09] gwkunze opened #69 "Pre-migrate Hook"
We have a custom command we run in every Terraform project directory before running any other Terraform command which generates some custom Terraform configuration in that specific directory. Specifically, this command generates the backend configuration automatically, amongst other functionality it uses the relative path in the Git Repo to set the path in S3 for the state store for example.

With

[2022-01-26 12:52] gwkunze commented on #69
Ahh sorry, just noticed this is a duplicate of #20

[2022-01-26 12:52] #69 closed

[2022-02-24 20:50] GoodmanBen opened #72 "[Feature Request] GCP Cloud Storage History Backend"
Current State:
At present, `tfmigrate` only supports remote storage in Amazon's S3 service. This limits the usage for projects that are based on GCP.

Desired New State:
Support GCP's Cloud Storage as a remote storage service.

[2022-02-24 20:51] GoodmanBen commented on #72
Will follow the pattern recommended by [this comment](https://github.com/minamijoyo/tfmigrate/issues/21#issuecomment-822300905). Assigning this issue to myself, @GoodmanBen.

[2022-02-25 16:59] jeremywitte opened #73 "Feature request: return count of unapplied migrations"
This relates to #64 as a pattern for using **tfmigrate** in CI/CD.

# Request
It would be helpful to return the number of unapplied migrations in addition to the current `list` command. I currently rely on the `list` command to determine whether I need to conditionally execute tfmigrate within a workflow. This works but does require some additional processing in order to arrive at a count that can

[2022-03-01 04:07] jbg opened #74 ""compute a new state" takes a very long time"
Planning a state migration with ~150 operations (about 50% `import` and 50% `rm`) takes a very long time (~2 hours in a 4 vCPU / 16 GiB container). A bash script running the same operations takes about 25 minutes, and that's a very naive script which locks and unlocks remote state for every operation! I would expect tfmigrate to be much faster since it works on a local copy of the state.

I set `T

[2022-03-09 22:19] GoodmanBen opened #75 "Bug: Error when Terraform Cloud is Remote Backend"
**Current State**:
Terraform Cloud is an enterprise cloud solution from Hashicorp that includes a remote state backend. When initializing terraform, the `-reconfigure` flag does not work when the remote backend is specified to be Terraform Cloud. This error occurs [here](https://github.com/minamijoyo/tfmigrate/blob/master/tfexec/terraform.go#L256), and leads to tfmigrate not working with Terraform

[2022-03-10 00:56] minamijoyo commented on #75
Hi @GoodmanBen, Thank you for reporting this.

There are two types of backend implementations for the Terraform Cloud.
(1) What terraform version are you using?
(2) Which backend are you using `remote` or `cloud` introduced in Terraform 1.1+?
https://www.terraform.io/language/settings/backends/remote
https://www.terraform.io/language/settings/terraform-cloud

[2022-03-10 01:14] minamijoyo commented on #74
Hi @jbg, thank you for reporting this.

I wasn't aware of a performance issue because the most of typical my use cases have less than 10 operations. At the same time, I'm also aware of breaking changes in AWS provider v4 and I expect hundreds of imports to be required for me in the near future. When I run into the performance issue too, I'll investigate further.

For those who are already facing p

[2022-03-10 01:43] minamijoyo commented on #73
Hi @jeremywitte, Thank you for your proposal.

After reading your use case, I feel that what you really need isn't `count`, but whether you should migrate or not. For example you can write this without `count`:

[code]

To me this just feels like a style issue for shell script.
On the other hand, it's worth considering that allowing us to suppress the `no history setting` error and exit status wit

[2022-03-10 02:06] minamijoyo commented on #72
Hi @GoodmanBen, Thank you for offering to take over #23.

As mentioned in https://github.com/minamijoyo/tfmigrate/pull/23#discussion_r697307700, the patch has a license conflict issue and I've been waiting a response from @ethernetdan.

With no reply for months, if you are willing to help with us, it seems that it's time to move forward with you. If I split the history storage related implementati

[2022-03-10 02:57] GoodmanBen commented on #72
@minamijoyo Yes, happy to do so in another repository if that is where you want it to live.

[2022-03-10 03:00] GoodmanBen commented on #75
I'm terraform 1.1.7 and using the backend syntax of `cloud`. Perhaps a better naming convention for a new parameter would be something like `is_backend_cloud` as opposed to `is_backend_terraform_cloud`? Also open to other configuration naming suggestions.

[2022-03-10 04:02] GoodmanBen opened #77 "[Feature Request] Add Contributor Documentation"
Current State: There is no documentation in the repo pertaining to how contributors should contribute to `tfmigrate`.

Desired State: As this repo gains a larger following, it will be helpful to have a readme for contributors that guides on acceptance criteria. Some thoughts as to what would might be helpful to see in a contributor document:
- Desired formatting for new issues and PRs.
- Whether P

[2022-03-10 14:39] minamijoyo commented on #75
Hi @GoodmanBen, I was curious where the error comes from and read code in the Terraform core and realized that this issue wasn't so simple as expected.

The error comes from here:
https://github.com/hashicorp/terraform/blob/v1.1.7/internal/command/meta_backend.go#L1412

If my understanding is correct, this issue only affects the `cloud` block introduced in Terraform 1.1+ due to explicit validation

[2022-03-10 20:42] GoodmanBen commented on #75
Hi @minamijoyo thanks for such a detailed write-up, this is increasing my understanding of both `tfmigrate` and Terraform.

I agree with the you in that there is more going on here. What appears to be happening is this:

The override block is created within `tfmigrate`, when the command ` terraform init -input=false -no-color -reconfigure` is run the backend is able to switch to the local backend

[2022-03-10 23:25] GoodmanBen commented on #75
The observed behavior in the originally identified solutions does indeed look to be exactly as is specifically intended in the code base:
https://github.com/hashicorp/terraform/blob/main/internal/configs/module.go#L379

When a `cloud` block or `backend` block exists in the `override.tf` file, the mutually exclusive other `backend` or `cloud` block, respectively, is made nil and the backend is take

[2022-03-12 13:40] minamijoyo commented on #75
Thank you for the investigation. The behavior looks intentional 😉

[2022-03-15 06:29] #75 closed

[2022-03-15 18:20] jeremywitte commented on #73
Appreciate the reply! I agree the existing support of the `list` command does provide what is needed to determine whether or not *tfmigrate* should be executed - just comes down to preference on existing solutions to script for that test.

I do like the suggestion of the `--skip-no-history` flag and would find that useful if implemented.

Good to close this with your confirmed solution/feedback.

[2022-03-25 15:48] minamijoyo commented on #72
Hi @GoodmanBen,

Splitting the history storage related implementation into a new separate repository in MPL2.0 has been done by #79, #80.
https://github.com/minamijoyo/tfmigrate-storage

Feel free to reuse some code snippet from the upstream hashicorp/terraform to implement the gcs storage support.

[2022-03-26 17:35] GoodmanBen commented on #72
Sounds great, thank you for doing this refactor.

[2022-03-29 11:41] amirtal-cp commented on #34
(for reference)

this was resolved by removing terragrunt backend generation block. i.e.
[code]

replacing generation with the following addition to `remote_state` block. i.e.
[code]

[2022-05-27 15:50] Olgoetz opened #89 "Tool not working on windows"
I have built tfmigrate from source for windows.

However, I receive:

[code]

How can I make it work for windows as it does not have /dev/null

[2022-05-30 01:49] minamijoyo commented on #89
Hi @Olgoetz, Thank you for reporting this!

The current implementation specifies `/dev/null` directly, but the `os.DevNull` constant points to the `NUL` device on Windows. I don't have a Windows device for testing; would it be possible for you to try it? If you are not familiar to Go, please let me know.
https://pkg.go.dev/os#pkg-constants

[2022-06-03 10:45] Olgoetz commented on #89
I will try it

[2022-06-03 12:44] Olgoetz commented on #89
I just cloned the repo and encountering now this:

[code]

[2022-06-03 13:47] minamijoyo commented on #89
It's maybe related to https://github.com/minamijoyo/tfmigrate/issues/45.
The tfmigrate doesn't work with the local backend. It requires a remote state backend.

[2022-06-14 10:13] Tzrlk commented on #89
FYI, I've got 0.3.3 working great on my Windows 10 machine.

[2022-06-16 13:44] Michenux opened #90 "Partial history storage configuration"
I would like to be able to configure the history storage config as we can do in terraform with partial configurations.
- Storage config parameters that never changes goes in .tfmigrate.hcl.
- Storage config parameters depending on environment can be pass with cli parameters  or an env variable (maybe TFMIGRATE_init).

[2022-06-16 13:46] Michenux opened #91 "Dynamic workspace"
I would like the workspace to be dynamic in hcl files.

For example :
[code]

[2022-06-22 14:31] nitrocode opened #92 "Allow passing in a url to a tfmigrate file"
[code]

[2022-07-07 09:42] #15 closed

[2022-08-04 08:38] dex4er opened #99 "Breaks with Terraform Cloud"
Reproduction:

Initialization:

[code]

Token for fakewebservice API (it is set in TFC already but we need it for local run too):

[code]

Change to new cloud backed:

[code]

./.tfmigrate.hcl

[code]

./tfmigrate/test.hcl

[code]

tfmigrate plan:

v0.3.4 with `is_backend_terraform_cloud = false`:

[code]

v0.3.4 with `is_backend_terraform_cloud = true`:

Exactly the same as above.

#98 with `is_b

[2022-08-04 09:26] minamijoyo commented on #99
@dex4er Thank you for reporting this! It looks like a bug introduced in v0.3.4 via #94.

[2022-08-05 14:22] minamijoyo commented on #99
Fixed in v0.3.5. Thanks to @dex4er 🎉

[2022-08-05 14:22] #99 closed

[2022-08-29 23:18] joestump commented on #22
@minamijoyo this came up while reviewing this tool for our needs. We have a highly federated AWS account setup and have unique state files in each account. The same manifest is then deployed from account to account, however, like @elliotpryde's example we don't have the history in new accounts after they've been provisioned.

Is the answer to copy that history into new accounts? Cull the `tfmigrat

[2022-08-30 13:36] minamijoyo commented on #22
Hi @joestump, Both would work, but my recommendation is the 3rd option, to use a separate migration directory and history per each account because a lifecycle of migrations belongs to resource instances to be applied, so a migration file should not be included in such a resource template module.

[2022-09-02 10:55] maartenvanderhoef opened #105 "Feature request, a flag to ignore output changes"
In many cases, output changes are caused by a wrong output order, or other trivial causes. By scripting and disabling output before and after this can be circumvented. Still I think it would be wishful to have a flag to ignore output diff, that would save a little bit of time.

Kudos for this very awesome tool!

[2022-09-12 13:41] suzuki-shunsuke opened #106 "TF_CLI_ARGS_plan="-out=tfplan.out" doesn't work"
## Environment

[code]

## Overview

I would like to test the result of `tfmigrate plan` with [Conftest](https://www.conftest.dev/). [ref](https://www.openpolicyagent.org/docs/latest/terraform/)

e.g.

[code]

To do it, we have to run Conftest against a plan file.
To create a plan file with tfmigrate, I passed the environment variable `TF_CLI_ARGS_plan=-out=tfplan.out`.

[code]

<details>

[code]

[2022-09-12 14:27] suzuki-shunsuke commented on #106
Oh, I got it.

https://github.com/minamijoyo/tfmigrate/blob/6bd3c21aa8e103ea7e7a6ac039f8d07983a08744/tfexec/terraform_plan.go#L26-L43

[2022-09-12 14:32] suzuki-shunsuke commented on #106
As a workaround, we can use `tfmigrate plan`'s `-out` option.
But this option is deprecated. https://github.com/minamijoyo/tfmigrate/commit/dba98a641d958ac7b1e87eee219d560a8ab22fcd

As you said, the plan file can't be used for `terraform apply`, but this still can be used for validation using `conftest` or something.

ref. https://github.com/suzuki-shunsuke/tfaction/issues/511#issuecomment-1243724

[2022-09-13 13:46] minamijoyo commented on #106
Hi @suzuki-shunsuke, Thank you for reporting this!

I’m investigating the terraform show command behavior across some versions, and it turns out that the old terraform before v1.1.3 rejects a plan file generated by `tfmigrate plan —out=tfplan.out` as stale.

[code]

- Terraform v1.0.11: NG
- Terraform v1.1.0: NG
- Terraform v1.1.3: OK
- Terraform v1.2.9: OK
- Terraform v1.3.0-beta1: OK

It works a

[2022-09-13 13:49] yohanb opened #107 "Running in a Terraform Cloud Agent"
Hi!
First off, thanks for creating this tool.  I don't understand how Terraform can't have better support for state migration (`moved` blocks can only do so much).
I have a use case where I would have liked to run `tfmigrate` in the context of Terraform Cloud and it seems like the best way would be to add the functionality to a self-hosted Terraform Cloud Agent.

Has anyone been able to use `tfmig

[2022-09-13 13:56] suzuki-shunsuke commented on #106
Thank you for your investigation!

Oh, I didn't know that.

I agree.

[2022-09-14 03:44] minamijoyo commented on #107
Hi @yohanb, Thank you for opening this!

Have you tried the `is_backend_terraform_cloud = true` flag?
https://github.com/minamijoyo/tfmigrate/tree/v0.3.7#is_backend_terraform_cloud

[2022-09-14 09:31] #106 closed

[2022-09-14 09:32] minamijoyo commented on #106
@suzuki-shunsuke Finally reverted the deprecation in #108. Thank you for reporting this!

[2022-09-14 09:48] suzuki-shunsuke commented on #106
Thank you for your quick update!

[2022-09-14 11:13] yohanb commented on #107
Hi @minamijoyo! Yes I have and same result.

[2022-09-14 13:32] minamijoyo commented on #107
I’m aware that some folks use the tfmigrate with the Terraform Cloud. That is why the is_backend_terraform_cloud flag exists, which was added by the community. However, honestly, I don’t know how to integrate them because I’m not a TFC user :upside_down_face:

I suggest you provide more context on what you are trying and how to reproduce the error so that someone can identify the difference betwee

[2022-11-30 10:19] mtamiola-priv commented on #107
I'm also trying to use tool with TF cloud, but trying to run that locally.I guess that could work?.
It passes successfully switch to local, plan phase and it fails at switching back to remote. I'm trying multistate migration, but I guess it is not matter here

[code]

note missing `--reconfigure` at line.

`2022/11/30 08:30:25 [DEBUG] [executor@workspaceB]$ terraform init -input=false -no-color`
a